body{margin:0;padding: 0; font-size: 20px; }
.header{background-color: green ;padding: 3%; text-align: center; }
.container{background-color: red ; padding: 3%; }
.footer{background-color: green; padding: 3%; text-align: center;}